* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
    --gray-color: #afb4c4;
    --blue-color: rgba(20, 34, 81, 1);
    --light-blue-color: rgba(33, 56, 135, 1);
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    color: var(--blue-color);
}

h1 {
    max-width: 600px;
    padding-left: 10px;
    text-align: left;
    line-height: 1;
}

h2 {
    display: block;
    max-width: 600px;
    padding: 20px 0 0 20px;
    text-align: left;
    font-size: 4rem;
}

h3 {
    display: block;
    margin: 20px 20px 20px 0;
    text-align: left;
    font-size: 2rem;
    max-width: 600px;
}

footer {
    padding: 20px 0 20px 0;
    text-align: left;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 0 10px 10px;
}

section {
    text-align: center;
    width: 100%;
}

hr {
    color: var(--gray-color);
    margin: 0.5em;

}

ol {
    margin: 2em;
}

ul {
    list-style-type: none;
}

.logo {
    position: relative;
    width: 7em;
}

.button-settings {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: none;
    margin-left: auto;
    grid-area: 1/3/1/3;
}

.button-settings img {
    width: 50%;
}


.sect1 {
    display: block;
    flex-direction: column;
    padding-bottom: 3em;
}

.blue-text {
    font-size: 3.5rem;
    color: var(--blue-color);
    font-weight: bold;
    line-height: 1em;
}

.gray-text {
    font-size: 3.5rem;
    color: var(--gray-color);
    font-weight: bold;
}

.text-p-head {
    text-align: left;
    margin: 15px 0px 15px 10px;
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 500;
    width: 90%;
}

.bg-sect1 {
    display: block;
    position: relative;
    width: 100%;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
}

.div-button {
    display: flex;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 6px 5px 1px #afb4c4;
}


.text-button {
    color: var(--light-blue-color);
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    margin-right: auto;
}

.button-font-nonebox-1 {
    background-image: url(/Images/Plus-blue.png);
    width: 20%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(30, 56, 135, 0);
}

div.all-uslugs {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;
    padding: 0px 0 40px 0;
}

.uslug-buttons {
    display: flex;
    width: 100%;
}

.button-font {
    color: var(--light-blue-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 900;
    background-color: rgba(33, 56, 135, 0.06);
    border-radius: 50px;
    margin: auto;
    border: 1px solid var(--gray-color);
}


div.uslugi {
    display: block;
    background-color: white;
    border-radius: 45px;
    padding: 10px 10px 30px 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 90%;
}

.uslugs-image-1 {
    display: block;
    text-align: center;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    padding: 30px 0 20px 35px;
    overflow: hidden;
}

.uslugs-image-1 img {
    width: 100%;
}

.text-uslugi li {
    list-style-type: none;
    /* Убираем маркеры у списка */
}

.text-uslugi li:before {
    content: "- ";
    /* Добавляем в качестве маркера символ */
}

.text-uslugi {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.div-button-uslug {
    display: flex;
    width: 90%;
    background-color: var(--blue-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-button-box {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    margin-right: auto;
}

.button-font-box {
    background-image: url(/Images/Plus-white.png);
    width: 20%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: var(--blue-color) 0;
}

.spisok li {
    display: flex;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
}

.how-work-images {
    width: 30%;
}

.how-work-text {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 600;
}

.how-work-number {
    position: relative;
    color: var(--gray-color);
    font-size: 1.2rem;
    left: 7%;
    top: -15px;
}

div.all-clients {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;    
}

#right-bottom-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

div.container-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 10px;
}

div.client {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.client {
    width: 80%;
    height: 90%;
}

.text-p-cl {
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 900;
    text-align: left;
    margin-top: 5.5em;

}

#first {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#second {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#third {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#fourth {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

input {
    font-size: 1.7rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    width: 95%;
    margin-top: 30px;
}

.div-button-2 {
    display: flex;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 6px 5px 1px #afb4c4;
    margin-top: 20px;
}

.text-agreement {
    display: flex;
    text-align: left;
    font-size: 0.7em;
    color: var(--gray-color);
    margin: 20px;
    margin-right: auto;
    width: 50%;
}

.real-checkbox{
    display: none;
}

.custom-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 25px;
    margin-top: 4px;
    background-image: url(/Images/Checkbox_gray.svg);
    background-repeat: no-repeat;
    background-size: 65%;
}

.custom-checkbox::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 25px;
    background-image: url(/Images/Checkbox_blue.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    transform: scale(0);
}

.real-checkbox:checked + .custom-checkbox::before{
    transform: scale(1);
}


.footer {
    display: flex;
    font-size: 0.6em;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

.confidience {
    color: var(--gray-color);
}

.design {
    color: var(--light-blue-color);
}

.text-2023 {
    position: static;
    right: auto;
    color: var(--gray-color);
}

.form {
    display: block;
    width: 400px;
    padding: 10px 30px;
    width: 100%;
}

input[name="email"]::-webkit-input-placeholder {
    color: var(--blue-color);
}


@media (max-width: 1050px) {
    body{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        max-width: 340px;
        min-width: 320px;
    }
    
    h2{
        margin: auto;
    }

    .div-button-Pc{
        display: none;
    }

    .hede-href-displ{
        display: none;
    }

    #uslug-roz{
        display: none;
    }
    #uslug-slezh{
        display: none;
    }
    #uslug-business{
        display: none;
    }

    .slezh {
        display: none;
    }

    .razved {
        display: none;
    }

    .bg-sect1-PC {
        display: none;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .div-button-set {
        display: none;
    }


    .div-arrow{
     display: none;   
    }

    .whatsapp{
        display: none;
    }

    .left-right-button{
        display: none;
    }

    .zaglushka-uslugi{
        display: none;
    }

    .how-work-images-Pc{
        display: none;
    }

    .bg-sect-how-work{
        display: none;
    }

    .right-bottom-img-Pc{
        display: none;
    }

    .inp1 p{
        display: none;
    }

    .inp2 p{
        display: none;
    }

    .inp3 p{
        display: none;
    }

    .div-button-2-Pc{
        display: none;
    }

    .arrow-up{
        display: none;
    }
    
    .contact-with-us{
        display: none;
    }
}

@media (min-width:1050px) {

    /* Первая секция */

    .logo {
        width: 12em;
        justify-content: start;
    }

    .hede-href-displ{
        margin-right: auto;
        margin-left: auto;
    }

    .head-href {
        grid-area: 1/ 2/ 1/2;
        color: var(--blue-color);
        margin-left: 2em;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .div-button-set {
        display: flex;
        background-color: none;
        border-radius: 10px;
        justify-content: end;
    }

    .button-font-nonebox-1-set {
        background-image: url(/Images/Plus-blue.png);
        width: 50px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: rgba(30, 56, 135, 0);
    }

    .text-button-set {
        color: var(--light-blue-color);
        font-size: 1.3rem;
        font-weight: 700;
        padding: 10px;
    }

    .button-settings {
        display: none;
    }

    .whatsapp-hr {
        margin: 1em 0 2em 0;
    }

    .blue-text {
        font-size: 7rem;
    }

    .gray-text {
        font-size: 7rem;
    }

    .text-p-head {
        font-size: 2.4rem;
        padding-left: 45px;
        grid-area: 2/1/2/1;
    }

    .bg-sect1 {
        display: none;
    }

    header {
        padding: 20px 10px 0 10px;
    }

    .sect1 {
        display: flex;
        text-align: left;
        background-image: url(/Images/BG_Sect1_PC.svg);
        background-size: 85%;
        background-position: 100% 120%;
        background-repeat: no-repeat;
    }

    h1 {
        padding-left: 52px;
    }

    .div-button{
        display: none;
    }

    .bg-sect1-PC {
        position: absolute;
        width: 80%;
        right: 0;
        top: -20px;
    }

    .div-button-Pc {
        width: 330px;
        margin-left: 4em;
        box-shadow: none;
        display: flex;
        background-color: rgba(33, 56, 135, 0.06);
        margin-right: auto;
        border-radius: 10px;
        margin-top: 60px;
    }

    .button-font-nonebox-1-Pc {
        width: 90px;
        background-image: url(/Images/Plus-blue.png);
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: rgba(30, 56, 135, 0);
    }

    .text-button-Pc {
        font-size: 1.7rem;
        padding: 30px;
        color: var(--light-blue-color);
        font-weight: 900;
        margin-right: auto;
    }

    .arrow{
        display: flex;
        background-image: url("/Images/arrow.svg");
        background-color: rgba(33, 56, 135, 0.06);
        border-radius: 50px;
        width: 3%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px;
        border: none;
        margin-left: 60px;
    }

    .whatsapp{
        display: flex;
        width: 320px;
        background-color: rgba(33, 56, 135, 0.06);
        border-radius: 50px;
        margin-right: 60px;
    }

    .whatsapp img{
        width: 25px;
        margin: 5px 5px 5px 20px;
    }

    .chat{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--blue-color);
        text-decoration: none;
        margin-top: 22px;
    }
    
    .whatsapp-hr{
        width: 0.2px;
        height: 30px;
        margin: 15px;
        color: var(--gray-color);
    }

    .email{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--light-blue-color);
        margin-top: 22px;
    }

    .bottom-of-sect1{
        display: flex;
        justify-content: space-between;
        margin-top: 300px;
    }


    /* Секция Усулги */

    h2{
        font-size: 6rem;
        text-align: left;
    }

    .sect-uslugi{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .uslug-buttons{
        display: none;
    }

    .uslugi-header{
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        padding: 50px 0 50px 0;
    }

    .left-right-button{
        display: flex;
        background-color: white;
        border-radius: 80px;
        justify-content: space-between;
        margin: 20px;
    }

    .lr-hr{
        position: relative;
        width: 0.2px;
        height: 25px;
        top: 3px;
    }

    .left-right-button button{
        border: none;
        background-color: white;
        border-radius: 80px;
        padding: 0 15px 0 15px;
    }

    .left-right-button button img{
        width: 25px;
    }

    .uslug-text{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }

    .uslugi-ul{
        display: flex;
    }

    .zaglushka-uslugi{
        height: 400px;
        position: relative;
        top: 30px;
        margin-right: 3px;
    }

    #uslug-inf .div-button-uslug{
        display: none;
    }

    #uslug-slezh .div-button-uslug{
        display: none;
    }

    #uslug-business .div-button-uslug{
        display: none;
    }

    div.uslugi{
        height: 450px;
    }

    h3{
        font-size: 3rem;
        margin: 20px;
    }

    .uslugs-image-2 {
        display: block;
        background-color: rgba(243, 246, 249, 1);
        border-radius: 45px;
        padding: 0px 20px 0px 5px;
    }
    
    .uslugs-image-2 img {
        width: 100%;
    }
    
    .uslugs-image-3 {
        display: block;
        background-color: rgba(243, 246, 249, 1);
        border-radius: 45px;
        padding: 40px 90px 40px 90px;
    }
    
    .uslugs-image-3 img {
        width: 100%;
    }
    
    .uslugs-image-4 {
        display: block;
        background-color: rgba(243, 246, 249, 1);
        border-radius: 45px;
        padding: 10px 80px 10px 80px;
        width: 100%;
    }
    
    .uslugs-image-4 img {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .sect-how-work{
        display: flex;
        margin-top: 250px;
        margin-bottom: 100px;
    }

    .how-work-images{
        display: none;
    }
    
    .spisok li {
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 90%;
        margin: 0 0 0.5em 0;
        height: 160px;
        border-radius: 20px;
    }

    .bg-sect-how-work{
        width: 70%;
        margin-top: 50px;
        grid-area: 1 / 1 / 1 / 1;
    }

    .how-work-text{
        grid-area: 2 / 1 / -1 / -1;
        margin-left: 0;
        color: rgba(152, 158, 177, 1);
        font-size: 2.4rem;
        font-weight: normal;
    }

    .how-work-number{
        grid-area: 1 / 2 / 1 / 2;
        left: 50%;
        top: -10px;
        font-size: 1.7rem;
    }

    .Pc-how-work{
        display: block;
        width: 30%;
        margin-left: 32px;
    }

    ol{
        margin: 2em  0 0 1em;
    }

    /* Наши клиенты */

    div.all-clients{
        display: grid;
        grid-template-columns: 2fr 0fr 3fr 0fr 2fr;
        grid-template-rows: 1fr 2fr;
        border-radius: 0;
        background-image: url(/Images/graphic.svg);
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: right 0 bottom 0;
    }

    .Our_Clients{
        grid-area: 1 / 1 / 1 / 1;
        margin-left: 32px;
    }

    .container-blocks{
        margin-top: 40px;
        margin-bottom: 40px;
        grid-area: 1 / 3 / -1 / 3;
    }

    #Our_Clients_p{
        grid-area: 1 / 5 / 1 / 5;
        margin-right: 52px;
        margin-top: 40px;
    }

    .client{
        height: 95%;
        width: 95%;
        margin-top: 50px;
    }

    #first{
        padding: 10px;
        width: 100px;
    }

    #second {
        padding: 10px;
        width: 100px;
    }

    #third {
        padding: 10px;
        width: 100px;
    }

    #fourth {
        padding: 10px;
        width: 100px;
    }

    .text-p-cl{
        font-size: 2rem;
        font-weight: normal;
        margin-top: 240px;
        margin-left: 10px;
    }

    #right-bottom-img{
        display: none;
    }

    /* Связаться с нами */
 
    .div-arrow-up{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .arrow-up{
        display: flex;
        background-image: url("/Images/arrow-up.svg");
        background-color: rgba(33, 56, 135, 0.06);
        background-size: 50%;
        border-radius: 70px;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border: none;
        margin-right: 60px;
        align-self: center;
    }

    .forma-grid{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 30px;
        margin-bottom: 70px;
        gap: 60px;
    }

    .div-button-2-Pc{
        display: flex;
        grid-area: 2 / 3 / 2 / 3;
        width: 300px;
        background-color: rgba(33, 56, 135, 0.06);
        border-radius: 10px;
        margin-top: 10px;
    }

    .button-font-nonebox-1-Pc-2 {
        width: 90px;
        background-image: url(/Images/Plus-blue.png);
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        background-color: rgba(30, 56, 135, 0);
    }

    .text-button-Pc-2 {
        font-size: 1.7rem;
        padding: 20px;
        color: var(--light-blue-color);
        font-weight: 900;
        margin-right: auto;
    }

    .div-button-2{
        display: none;
    }

    .text-agreement{
        font-size: 1.5rem;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
        grid-area: 2 / 2 / 2 / 2;
    }

    input{
        margin-left: 30px;
    }

    input[name="email"]::-webkit-input-placeholder {
        color: var(--gray-color);
        font-size: 2.3rem;
    }

    input[name="name"]::-webkit-input-placeholder {
        color: var(--gray-color);
        font-size: 2.3rem;
    }
    input[name="number"]::-webkit-input-placeholder {
        color: var(--gray-color);
        font-size: 2.3rem;
    }

    .inp1{
        display: flex;
    }

    .inp2{
        display: flex;
        grid-area: 2 / 1 / 2 / 1;
    }

    .inp3{
        display: flex;
        grid-area: 1 / 2 / 1 / 4;
    }

    .inp1 p{
        font-size: 2.3rem;
        color: var(--blue-color);
        align-self: center;
        width: 40%;
        padding-top: 25px;
        margin-left: 30px;
    }

    .inp2 p{
        font-size: 2.3rem;
        color: var(--blue-color);
        align-self: center;
        width: 35%;
        padding-top: 25px;
        margin-left: 30px;
    }

    .inp3 p{
        font-size: 2.3rem;
        color: var(--blue-color);
        align-self: center;
        width: 30%;
        padding-top: 25px;
        margin-left: 30px;
    }

    .custom-checkbox{
        margin-top: 10px;
        margin-right: 10px;
    }

    .contact-with-us{
        display: flex;
        width: 500px;
        border: 1px solid var(--gray-color);
        border-radius: 50px;
        margin-left: 20px;
        font-size: 2.5rem;
        align-items: center;
    }

    .contact-with-us img{
        width: 100px;
    }

    .chat-footer{
        width: 150px;
        padding-left: 25px;
    }

    .email-footer{
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--light-blue-color);
        padding-right: 25px;
        align-self: center;
    }

    .footer{
        align-items: center;
        padding-bottom: 30px;
    }

    .confidience{
        font-size: 1.7rem;
    }

    .design{
        font-size: 1.7rem;
    }

    .text-2023{
        font-size: 1.7rem;
    }

}