* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
    --gray-color: #afb4c4;
    --blue-color: rgba(20, 34, 81, 1);
    --light-blue-color: rgba(33, 56, 135, 1);
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    color: var(--blue-color);
}

h1 {
    max-width: 600px;
    padding-left: 10px;
    text-align: left;
    line-height: 1;
}

h2 {
    display: block;
    max-width: 600px;
    padding: 20px 0 0 20px;
    text-align: left;
    font-size: 4rem;
    margin: auto;
}

h3 {
    display: block;
    margin: 20px 20px 20px 0;
    text-align: left;
    font-size: 2rem;
    max-width: 600px;
}

footer {
    padding: 20px 0 20px 0;
    text-align: left;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}

section {
    text-align: center;
    width: 100%;
}

hr {
    color: var(--gray-color);
    margin: 0.5em;

}

ol {
    padding: 2em;
}

ul {
    list-style-type: none;
}

.logo {
    position: relative;
    width: 7em;
}

.button-settings {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: none;
    margin-left: auto;
    grid-area: 1/3/1/3;
}

.button-settings img {
    width: 50%;
}


.sect1 {
    display: block;
    flex-direction: column;
    padding-bottom: 3em;

}

.blue-text {
    font-size: 3.5rem;
    color: var(--blue-color);
    font-weight: bold;
    line-height: 1em;
}

.gray-text {
    font-size: 3.5rem;
    color: var(--gray-color);
    font-weight: bold;
}

.text-p-head {
    text-align: left;
    margin: 15px 0px 15px 10px;
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 500;
    width: 90%;
}

.bg-sect1 {
    display: block;
    position: relative;
    width: 100%;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
}

.div-button {
    display: flex;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 6px 5px 1px #afb4c4;
}


.text-button {
    color: var(--light-blue-color);
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    margin-right: auto;
}

.button-font-nonebox-1 {
    background-image: url(/Images/Plus-blue.png);
    width: 20%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(30, 56, 135, 0);
}

div.all-uslugs {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;
    padding: 0px 0 40px 0;
}

.uslug-buttons {
    display: flex;
    width: 100%;
}

.button-font {
    color: var(--light-blue-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 900;
    background-color: rgba(33, 56, 135, 0.06);
    border-radius: 50px;
    margin: auto;
    border: 1px solid var(--gray-color);
}


div.uslugi {
    display: block;
    background-color: white;
    border-radius: 45px;
    padding: 10px 25px 30px 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 90%;
}

.uslugs-image-1 {
    display: block;
    text-align: center;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 25px;
    padding: 30px 0 20px 35px;
    overflow: hidden;
}

.uslugs-image-1 img {
    width: 100%;
}

.text-uslugi li {
    list-style-type: none;
    /* Убираем маркеры у списка */
}

.text-uslugi li:before {
    content: "- ";
    /* Добавляем в качестве маркера символ */
}

.text-uslugi {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.uslugs-image-2 {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 25px;
    padding: 0px 20px 0px 5px;
}

.uslugs-image-2 img {
    width: 100%;
}

.uslugs-image-3 {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 25px;
    padding: 40px;
}

.uslugs-image-3 img {
    width: 100%;
}

.uslugs-image-4 {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 25px;
    padding: 30px 0px 30px 80px;
}

.uslugs-image-4 img {
    width: 50%;
}

.div-button-uslug {
    display: flex;
    width: 100%;
    background-color: var(--blue-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-button-box {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    padding: 20px;
    margin-right: auto;
}

.button-font-box {
    background-image: url(/Images/Plus-white.png);
    width: 20%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: var(--blue-color) 0;
}

.spisok li {
    display: flex;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
}

.how-work-images {
    width: 30%;
}

.how-work-text {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 600;
}

.how-work-number {
    position: relative;
    color: var(--gray-color);
    font-size: 1.2rem;
    left: 7%;
    top: -15px;
}

div.all-clients {
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;
}

#right-bottom-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

div.container-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 10px;
}

div.client {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.client {
    width: 70%;
}

.text-p-cl {
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 900;
    text-align: left;
    margin-top: 5.5em;

}

#first {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#second {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#third {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

#fourth {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 55px;
}

.inp {
    font-size: 1.7rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    width: 95%;
    margin-top: 30px;
}

.div-button-2 {
    display: flex;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 6px 5px 1px #afb4c4;
    margin-top: 20px;
}

.text-agreement {
    display: block;
    text-align: left;
    font-size: 0.7em;
    color: var(--gray-color);
    margin: 15px;
    width: 50%;
}

.footer {
    display: flex;
    font-size: 0.6em;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

.confidience {
    color: var(--gray-color);
}

.design {
    color: var(--light-blue-color);
}

.text-2023 {
    position: static;
    right: auto;
    color: var(--gray-color);
}

.form {
    display: block;
    width: 400px;
    padding: 10px 30px;
    width: 100%;
}

input[name="email"]::-webkit-input-placeholder {
    color: var(--blue-color);
}


@media (max-width: 320px) {
    #uslug-roz{
        display: none;
    }
    #uslug-slezh{
        display: none;
    }
    #uslug-business{
        display: none;
    }

    .slezh {
        display: none;
    }

    .razved {
        display: none;
    }

    .bg-sect1-PC {
        display: none;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .div-button-set {
        display: none;
    }


    .div-arrow{
     display: none;   
    }

    .whatsapp{
        display: none;
    }

}

@media (min-width:330px) {
    .logo {
        width: 12em;
        justify-content: start;
    }

    .head-href {
        grid-area: 1/ 2/ 1/2;
        color: var(--blue-color);
        margin-left: 2em;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .div-button-set {
        display: flex;
        background-color: none;
        border-radius: 10px;
        justify-content: end;
    }

    .button-font-nonebox-1-set {
        background-image: url(/Images/Plus-blue.png);
        width: 50px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: rgba(30, 56, 135, 0);
    }

    .text-button-set {
        color: var(--light-blue-color);
        font-size: 1.3rem;
        font-weight: 700;
        padding: 10px;
    }

    .button-settings {
        display: none;
    }

    hr {
        margin: 1em 0 2em 0;
    }

    .blue-text {
        font-size: 7rem;
    }

    .gray-text {
        font-size: 7rem;
    }

    .text-p-head {
        font-size: 2.4rem;
        padding-left: 45px;
    }

    .bg-sect1 {
        display: none;
    }

    header {
        padding: 20px 10px 0 10px;
    }

    .sect1 {
        text-align: left;
    }

    h1 {
        padding-left: 52px;
    }

    .bg-sect1-PC {
        position: relative;
        width: 80%;
        left: 20em;
        top: -28em;
    }

    .div-button {
        position: relative;
        top: -52em;
        width: 330px;
        margin-left: 4em;
        box-shadow: none;
    }

    .button-font-nonebox-1 {
        width: 90px;
    }

    .text-button {
        font-size: 2rem;
        padding: 30px;
    }

    .arrow{
        display: flex;
        background-image: url("/Images/arrow.svg");
        background-color: rgba(33, 56, 135, 0.06);
        border-radius: 50px;
        width: 3%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px;
        border: none;
        margin-left: 60px;
    }
 

    .whatsapp{
        display: flex;
        width: 320px;
        background-color: rgba(33, 56, 135, 0.06);
        border-radius: 50px;
        margin-left: auto;
    }

    .whatsapp img{
        width: 25px;
        margin: 5px 5px 5px 20px;
    }

    .chat{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--blue-color);
        text-decoration: none;
        margin-top: 22px;
    }
    
    .whatsapp-hr{
        width: 0.2px;
        height: 30px;
        margin: 15px;
        color: var(--gray-color);
    }

    .email{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--light-blue-color);
        margin-top: 22px;
    }


}