* {
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
    --gray-color: #afb4c4;
    --blue-color: rgba(20, 34, 81, 1);
    
    --light-blue-color: rgba(33, 56, 135, 1);
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    color: var(--blue-color);
}

h1,
h2{
    display: block;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    margin: auto;
}

h3{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    max-width: 600px;
}


footer{
    min-width: 700px;
    padding: 40px 0 40px 0;
    text-align: center;
}

section{
    display: block;
    text-align: center;
}


.logo{
    position: relative;
    top: 40px;
    padding-left: 20px;
    width: 12em;
}

hr{
    color: var(--gray-color);
    margin: 50px;
}

.sect1{
    height: 1150px;
}

.bg-sect1{
    display: block;
    position: relative;
    width: 700px;
    top: -180px;
    margin-left: auto;
    margin-right: auto;
}


div.all-clients{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;
    padding: 100px 0 20px 0;
    margin-top: 50px;
}

div.client{
    position: inherit;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    text-align: left;
    height: 250px;

}

div.container-blocks{
    display: flex;
    justify-content: center;
}

div.container1{
    position: relative;
    width: 40%;
}

div.container2{
    position: relative;
    width: 40%;
}

#right-bottom-img{
    position: absolute;
    right: 0;
    bottom: 0; 
    width: 420px;
    z-index: 0;
}

#first{
    position: absolute;
    right: 25px;
    width: 90px;
}
#second{
    position: absolute;
    right: 25px;
    width: 90px;
}
#third{
    position: absolute;
    right: 25px;
    width: 90px;
}
#fourth{
    position: absolute;
    right: 25px;
    width: 90px;
}

ul {
    list-style-type: none;
}


.blue-text {
    font-size: 6rem;
    color: var(--blue-color);
    font-weight: bold;
}

.gray-text {
    font-size: 6rem;
    color: var(--gray-color);
    font-weight: bold;
}

.text-p-head {
    text-align: center;
    padding: 20px;
    color: var(--gray-color);
    font-size: 1.9rem;
    font-weight: 500;
}

.text-p-cl {
    position: absolute;
    color: var(--gray-color);
    font-size: 2.5rem;
    font-weight: 900;
    bottom: 25px;
    left: 30px;
}

div.uslugi{
    display: block;
    position: relative;
    background-color: white;
    border-radius: 45px;
    padding: 10px 40px 30px 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 450px;
}

.uslugs-image-1{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    padding: 30px 20px 20px 35px;
    width: 405px;
}

.uslugs-image-2{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    padding: 0px 20px 0px 5px;
    width: 405px;
}

.uslugs-image-3{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    padding: 40px 0px 40px 90px;
    width: 405px;
}

.uslugs-image-4{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    padding: 15px 0px 15px 150px;
    width: 405px;
}

div.all-uslugs{
    display: block;
    position: relative;
    background-color: rgba(243, 246, 249, 1);
    border-radius: 45px;
    width: 100%;
    padding: 100px 0 40px 0;
    margin-top: 50px;
}

#uslug-roz{
    display: none;
}
#uslug-slezh{
    display: none;
}
#uslug-business{
    display: none;
}

.button-font {
    color: var(--light-blue-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 900;
    background-color: rgba(33, 56, 135, 0.06);
    border-radius: 50px;
    border-color: var(--gray-color);
    margin: auto;
}

.text-button{
    display: block;
    position: relative;
    color: var(--light-blue-color);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 30px 30px;
    text-align: left;
}

.text-button-box{
    display: block;
    position: relative;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 30px 30px;
    text-align: left;
}

.div-button{
    display: block;
    position: relative;
    width: 400px;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;    
    top: -200px;
    box-shadow:0px 6px 5px 1px #afb4c4;
}

.div-button-2{
    display: block;
    position: relative;
    width: 400px;
    background-color: rgba(33, 56, 135, 0.06);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    top: 40px;
    margin-bottom: 40px;
}

.div-button-uslug{
    display: block;
    position: relative;
    width: 400px;
    background-color: var(--blue-color);
    border-radius: 15px;
}

.button-font-nonebox-1{
    position: absolute;
    right: 0;
    top: 6px;
    background-image: url(/Images/Plus-blue.png);
    width: 65px;
    height: 65px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: rgba(30, 56, 135, 0);
}

.button-font-nonebox-2{
    position: absolute;
    right: 0;
    top: 6px;
    background-image: url(/Images/Plus-blue.png);
    width: 65px;
    height: 65px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: rgba(30, 56, 135, 0);
}

.button-font-box {
    position: absolute;
    right: 0;
    top: 6px;
    background-image: url(/Images/Plus-white.png);
    width: 65px;
    height: 65px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color:  var(--blue-color) 0;
}

.button-settings {
    background-color: white;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 15px;
    border: none;
}


.text-uslugi {
    line-height: 2;
    padding: 10px;
}


.main-nav {
    font-weight: 600;
    padding: 5px;
    color: var(--light-blue-color);
    font-size: 2rem;
    text-decoration: none;
    display: none;
}


.header2 {
    color: var(--blue-color);
    font-size: 6rem;
    padding: 20px;
}


.spisok li{
    display: flex;
    position: relative;
    font-size: 1.6em;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--gray-color);
    border-radius: 20px;
    min-width: 500px;
    max-width: 600px;
    margin-bottom: 20px;
}

.how-work-number{
    position: relative;
    color: var(--gray-color);
    text-align: right;
    font-size: 0.65em;
    left: 25px;
    top: -25px;
}

.how-work-text{
    text-align: left;
    position: relative;
    top: 40px;
    left: 60px;
}

.how-work-images{
    position: relative;
    width: 140px;
}



.text-agreement {
    color: var(--gray-color);
    display: block;
    padding: 40px;
}

/*
label{
    margin-left: auto;
    margin-right: auto;
    background: url(/Images/Checkbox_gray.svg) no-repeat center;
    background-position: 470px;
}

label input:checked ~ label{
    background: url(/Images/Checkbox_blue.svg) no-repeat left center;
    background-position: 470px;
}
*/
.inp {
    font-size: 3rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    width: 700px;
    height: 60px;
    margin-top: 30px;
}

.form {
    display: block;
    width: 400px;
    padding: 10px 30px;
    width: 100%;
}

input[name="email"]::-webkit-input-placeholder{
    color: var(--blue-color);
}

.confidience {
    color: var(--gray-color);
}

.text-2023 {
    position: static;
    right: auto;
    color: var(--gray-color);
}

.design {
    
    color: var(--light-blue-color);
}

.text-p {
    color: var(--gray-color);
}

.footer {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

